<!DOCTYPE html>
<html>
<title>Hawki</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img{margin-bottom:-8px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="https://github.com/socc-io/Hawki" class="w3-left w3-btn w3-white">Hawki</a>
    <a href="https://github.com/socc-io/Hawki" class="w3-right w3-btn w3-white">Github</a>
  </header>

  <!-- Photo Grid -->
    <center>
    <div class="w3-half">
      <img src="/static/Hawki.png" style="150 px">
    </div>
    </center>
  
<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
  <div style="margin:auto;width:60%">
  <h2>About</h2>
    <p>
      Hawki is the framework system for indoor positioning service.
   </p>
    <p>
    Indoor positioning technology will use in a variety of ways including IOT, Indoor-navigation.
    </p>
    <p>
    Hawki allows you to find where you are in the building or subway by using your wifi-enabled device such as android, iphone, etc.
    </p>
  </div>
  <hr>
  <form method="post" id="map_upload" style="margin:auto;width:60%" action="/mapupload" enctype="multipart/form-data">
  <p class="w3-large w3-text-pink">This server is for admin access only!</p>
  <div class="w3-group"><br><br>
    <center><img id="output"/></center><br>
    <input class="w3-input w3-border" type="file" name="file" accept="image/*" onchange="loadFile(event)">
  </div>
  <button type="submit" class="w3-btn w3-btn-block w3-padding-12 w3-dark-grey">Send</button>
  </form>
  <br>
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
</body>

<script>
var loadFile = function(event) {
   var reader = new FileReader();
   reader.onload = function(){
     var output = document.getElementById('output');
     output.src = reader.result;
   };
   reader.readAsDataURL(event.target.files[0]);
};
</script>
</html>
